* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #222;
}

@media only screen and (max-width: 866px) {
    .ezm-faction-img {
        display: none;
    }

    .content-ezm-info {
        position: relative;
        left: 0;
    }

    #ezm-info-text-box {
        padding-top: 0;
    }
}




/* 
    Header and Nav Styling
*/




.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding-bottom: 0;
    border-bottom: 2px solid black;
}


.page-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
}

.page-name {
    color: #FFF;
    padding-left: 1rem;
    font-weight: lighter;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    list-style: none;
    margin: 0px 2rem 0px 0px;
    justify-content: flex-end;
}

.nav li {
    display: inline;
    font-size: 1.3rem;
}

.nav a {
    padding: 0.5rem;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    transition: box-shadow 350ms;
    transition: background-color 350ms;
}

.nav a:hover {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 5px 4px 4px rgba(0,0,0,0.3);
}

#current-page {
    background-color: #007e7e;
    box-shadow: 5px 4px 4px rgba(0,0,0,0.3);
}




/* 
    Footer Styling
*/



.main-footer {
    background-color: rgba(80, 80, 80, 0.5);
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.footer-item {
    color: #FFF;
    flex: 1;
    text-align: center;
    padding: 1em;
}

.footer-label {
    font-size: 2em;
}

.footer-text {
    font-size: 1.4em;
    padding: 0 5em;
    padding-bottom: 0.7em;
}

.footer-button {
    font-size: 1.7em;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    overflow-wrap: break-word;
    background-color: #007e7e;
    width: 60%;
    max-width: 60%;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-color 350ms;
    transition: box-shadow 350ms;
}

.footer-button:hover {
    background-color: #00b4b4;
    box-shadow: 0.75rem 5px 0.75rem rgba(0, 0, 0, 0.3);
}

.footer-disclaimer {
    text-align: center;
    color: rgba(99, 99, 99, 0.7);
    background-color: rgba(28,28,28,255);
    font-size: 1.05em;
    padding-top: 1em;
    padding-bottom: 1em;
}




/* 
    Content Styling
*/




.content-header-image {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content-section {
    margin: 0;
    padding: 0;
    color: #FFF;
}

#main-content {
    background-image: url("Images/Main\ Content\ BG.png");
    background-repeat: repeat-y;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    max-height: 600px;
}



/* 
    Home Page Styling
*/




.content-ezm-info {
    padding-top: 0;
    max-width: 40%;
    position: relative;
    left: 50%;
    padding-bottom: 4em;
}

#ezm-info-text-box {
    padding-top: 10em;
    border-radius: 0.6em;
}

#ezm-info-label {
    text-align: left;
    padding: 0;
    font-size: 2em;
    color: #FFF;
}

#ezm-info-text {
    position: relative;
    color: #FFF;
    font-size: 1.6em;
    padding: 0;
}

#main-content-middle-shadow {
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.4);
}

#main-content-middle {
    padding: 4em 5em;
    min-height: 30%;
    max-width: 100%;   
}

#main-content-middle-text {
    text-align: center;
    color: #FFF;
    padding: 1em 2em;
    background-color: rgba(27, 27, 27, 0.5);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1em;
    box-shadow: 0.75rem 7px 1rem rgba(0, 0, 0, 0.1);
}

#main-content-middle-subtext {
    font-size: 1.4rem;
}

#main-content-middle-subtitle {
    font-size: 1.4rem;
}


/* 
    Modules Page Styling
*/


#ezm-modules-content {
    padding-bottom: 2em;
}

#ezm-modules-label {
    color: #FFF;
    font-size: 2em;
    text-align: center;
    padding: 0.4em 0;
    margin: 0;
}

/*
    Accordion Styling
*/

#ezm-modules-accordion {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.ezm-accordion-item {
    background-color: rgba(27, 27, 27, 0.5);
    color: #FFF;
    border-radius: 1em;
    margin-bottom: 1rem;
    padding: 0.8rem;
    box-shadow: 0.5rem 5px 0.5rem rgba(17, 17, 17, 0.1);
    border: 2px solid rgba(0,0,0,0.3);
}

.ezm-accordion-link {
    font-size: 1.6rem;
    color: #FFF;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(26, 26, 26);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.ezm-accordion-link ion-icon{
    color: #fff;
    transition: transform 350ms;
}

.ezm-accordion-answer {
    overflow: hidden;
    max-height: 0;
    position: relative;
    background-color: #222;
    transition: max-height 650ms ease-out;
}

.ezm-accordion-answer::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: #007e7e;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.ezm-accordion-answer p {
    font-size: 1.4rem;
    padding: 2rem;
}

.ezm-accordion-subtitle {
    font-weight: bolder;
}

.ezm-accordion-subtext a {
    color:rgba(156, 156, 156, 0.8);
}

.ezm-accordion-subtext a:hover {
    color:rgba(255, 255, 255, 0.8);
}

.ezm-accordion-subtext a:focus {
    color:rgba(255, 255, 255, 0.8);
}

.ezm-accordion-table {
    margin: 10px auto;
    min-width: 90%;
    max-width: 90%;
}

.ezm-accordion-table th {
    background-color: rgba(123, 123, 123, 0.1);
}

.ezm-accordion-table, .ezm-accordion-table th, .ezm-accordion-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.ezm-accordion-table th, .ezm-accordion-table td {
    padding: 7px;
}

.ezm-accordion-table td a {
    color:rgba(156, 156, 156, 0.8);
}

.ezm-accordion-table td a:hover {
    color:rgba(255, 255, 255, 0.8);
}

.ezm-accordion-table td a:focus {
    color:rgba(255, 255, 255, 0.8);
}

.ezm-accordion-table-label {
    font-weight: bold;
}

.ezm-accordion-table-shortcut {
    font-weight: bold;
    text-align: center;
}



/*
    Factions Styling
*/


.ezm-factions {
    color: #FFF;
    width: 100%;
}

.ezm-faction-item {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.ezm-faction-resize {
    position: relative;
    left: 25%;
    width: 50%;
    border: 2px solid rgba(0,0,0,0.3);
    background-color: rgba(27, 27, 27, 0.5);
    margin: 1em;
    box-shadow: 0.75rem 10px 0.75rem rgba(0, 0, 0, 0.1);
    border-radius: 0.4em;
}

.ezm-faction-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ezm-faction-description {
    flex: 1;
    max-width: 40%;
    text-align: left;
}

.ezm-faction-img {
    flex: 1;
    height: auto;
    max-width: 500px;
}

.ezm-faction-cta {
    text-decoration: none;
    color: #007e7e;
    font-weight: bolder;
}

.ezm-faction-cta:hover {
    color: #ffffff;
    text-shadow: 3px 3px 3px black;
}

.faction-breadcrumb li {
    display: inline;
}

.faction-breadcrumb li a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.faction-breadcrumb ul:last-child {
    color: #007e7e;
}

.faction-breadcrumb li+li::before {
    content: " / ";
}



/*
    About Page Styling
*/


.about-content-frame {
    color: white;
    padding: 2em 4em;
}

.about-content {
    padding: 1em 2em;
    margin-top: 2em;
    background-color: rgba(27, 27, 27, 0.5);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1em;
    box-shadow: 0.75rem 7px 1rem rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    padding: 0;
    margin-bottom: 0.5em;
    font-size: 1.6em;
    text-align: center;
}

.about-content-keybinds-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.about-content p {
    flex: 1;
    margin-top: 0;
    font-size: 1.2em;
}

.about-content-bold {
    font-weight: bolder;
    font-size: 1.2em;
}

.about-content-keybind-subtext {
    margin-left: 1em;
}

.about-content-keybind-keys {
    font-weight: bolder;
}

.about-content-additional-features-subtext {
    text-align: center;
}

.about-content-source {
    display: flex;
    justify-content: space-around;
}

.about-content-source input {
    flex: 1;
    margin: 0 5%;
    max-width: 30%;
}

.about-install-videos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-content-install {
    max-width: 45%;
    min-width: 45%;
    background-color: rgba(27, 27, 27, 0.5);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1em;
    box-shadow: 0.75rem 7px 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    flex: 1;
}

.about-content-install iframe {
    max-width: 80%;
    width: 80%;
}

.about-content-install h3 {
    text-align: center;
    margin-bottom: 20px;
}

.about-content-install p {
    text-align: center;
    margin: 15px auto 15px auto;
    max-width: 90%;
}


/*
    Factions Styling
*/



.faction-content-frame {
    color: white;
    padding: 2em 4em;
}

.faction-content {
    padding: 1em 2em;
    margin-top: 1em;
    background-color: rgba(27, 27, 27, 0.5);
    border: 2px solid rgba(0,0,0,0.3);
    border-radius: 1em;
    box-shadow: 0.75rem 7px 1rem rgba(0, 0, 0, 0.1);
}

.faction-short-info {
    margin-top: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.faction-short-info div {
    flex: 1;
}

.faction-name {
    font-size: 1.5rem;
}

.faction-long-info {
    padding-top: 0.5rem;
}

.faction-long-info-short {
    text-align: center;
    font-size: 1.3rem;
}

.faction-long-info-long {
    padding-top: 0.1rem;
}

.faction-long-info-long h2 {
    text-align: center;
}

.faction-long-info-long p {
    font-size: 1.2rem;
}

.faction-long-info-long li {
    font-size: 1.1rem;
}

.faction-long-info-long a {
    color:rgba(156, 156, 156, 0.8);
}

.faction-long-info-long a:hover {
    color:rgba(255, 255, 255, 0.8);
}

.faction-long-info-long a:focus {
    color:rgba(255, 255, 255, 0.8);
}

.faction-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faction-gallery img {
    padding: 0.75rem;
    margin: 1rem;
    box-shadow: 0.75rem 7px 1rem rgba(0, 0, 0, 0.1);
    background-color: rgba(46, 46, 46, 0.5);
    transition: transform 350ms;
}

.faction-gallery img:hover {
    transform: scale(1.1);
}